@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  font-family: $nunito;
  background-color: $greyWhite;
}
.text, a {
  color: $black;
}
a:hover {
  color: $skyBlue;
}

@media (prefers-color-scheme: dark) {
  .text {
    color: $blue;
  }
  a {
    color: $blue;
  }
  body {
    background-color: $grey;
    color: $greyWhite;
  }
}

#popup {
  min-width: 350px;
  max-width: 40rem;
  padding: 2rem 1rem;
  h1 {
    font-size: 1.25rem;
  }
  .search {
    margin-bottom: 0.5rem;
  }
  .message {
    font-size: 80%;
  }
  .transfers {
    li {
      display: flex;
      flex-direction: column;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0.25rem 0;
      overflow: hidden;
      a {
        margin-left: 0.25rem;
      }
    }
  }
}
